<?xml version='1.0' encoding='windows-1252'?>
<!--
	compile : candle.exe SampleFirst.wxs
	build : light.exe SampleFirst.wixobj
	install : msiexec /i $(var.SOFTWARE).msi /l*v $(var.SOFTWARE).log
	uninstall : msiexec /x ${CALLING_PROJECT}.msi
	
	before that verify your dependancies with
	C:\devtools\depends.exe -c -f:1 -u:1 -pa:1 -pb -sm:12 -sf:4 -oc:result.csv -od:result.dwi launcher_0-1_win32_cl7-1.exe
	grep -i dll result.csv | sed -e 's/.*c://' | sed -e 's/DLL.*//' | grep -v system32 > cool.txt
	
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='${CALLING_PROJECT_FULL_NAME}' Id='${uuid(CALLING_PROJECT_FULL_NAME)}'
        Language='1033' Codepage='1252' Version='${CALLING_PROJECT_VERSION.dotted}' Manufacturer='IRCAD' UpgradeCode="${uuid(CALLING_PROJECT)}">

        <Package Keywords='Installer'
            Description="IRCAD's ${CALLING_PROJECT_FULL_NAME} Installer"
            Comments='${CALLING_PROJECT} is a registered trademark of IRCAD' Manufacturer='IRCAD'
            InstallerVersion='200' Languages='1033' Compressed='yes'
            SummaryCodepage='1252'
%if ARCH == "64":
            Platform="x64"
%endif
            />
<% nb_proj = len(CALLING_PROJECT_DEPS.keys()) %>
%for i in range(1,nb_proj/5 + 2):
        <Media Id='${i}' Cabinet='cab${i}.cab' EmbedCab='yes' DiskPrompt="CD-ROM #${i}" />
%endfor
        <Property Id='DiskPrompt' Value="IRCAD's ${CALLING_PROJECT_FULL_NAME} Installation [1]" />
        <Directory Id='TARGETDIR' Name='SourceDir'>
%if ARCH == "64":
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
%else:
            <Directory Id='ProgramFilesFolder' Name='PFiles'>

%endif
                <Directory Id='PRODUCTDIR' Name='IRCAD'>
                    <Directory Id='INSTALLDIR'
                        Name='${CALLING_PROJECT_FULL_NAME}'> <% COUNT = 0; ID_DISK= 1 %>
                %for key in CALLING_PROJECT_DEPS:
                        <% COUNT +=1 %>
                        %if COUNT % 5 == 0:
                        <% ID_DISK +=1 %>
                        %endif
                        <Merge Id="${key}" Language="1033" SourceFile="${key}.msm" DiskId="${ID_DISK}" />
                %endfor
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>


        <Feature Id="${CALLING_PROJECT}" Title="${CALLING_PROJECT}" Display='expand' Level="1">
        %for key in CALLING_PROJECT_DEPS:
            <MergeRef Id="${key}" />
            %endfor
        </Feature>
        <Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
        <!--<UIRef Id="WixUI_Minimal" />-->
        <UIRef Id="WixUI_ErrorProgressText" />
        <UIRef Id='WixUI_InstallDir' />
    </Product>
</Wix>
