<%
import os
from mako.template import Template
from mako import exceptions
import racy.rutils  
import racy.rutils as rutils


if PRJ_NAME == CALLING_PROJECT:

   
    if  PRJ_TYPE == 'bundle':
   
        for i in DEPS:
            if i['PRJ_NAME'] == 'launcher':
                launcher = i['PRJ_TARGET']

        list_profile = []
        for i in OTHERS_FILE:
            list_profile.append(i.split(SEP)[-1])

        
        for i in list_profile:
            if i.endswith('.xml') and i.startswith('profile'): 
                argument   = i 
                executable = launcher
                root = CALLING_PROJECT
                
                dico = {
                    'ARGUMENT'        : i,
                    'EXECUTABLE'      : launcher,
                    'CALLING_PROJECT' : root,
                    'NAME'            : argument,
                        }
                try:
                    template   = Template(filename = os.path.join(TPL_DIR, 'template_executable.launch'))

                    template   = template.render(**dico)  
                except:
                    print exceptions.text_error_template().render()

               
                dest_file  = os.path.join(LAUNCH_DIR, i)
                rutils.put_file_content(os.path.normpath(dest_file) + '.launch', template)
        else:
            ARGUMENT = ''
            EXECUTABLE = ''

    else:
        ARGUMENT = ''
        EXECUTABLE = CALLING_PROJECT_TARGET

           
%>
